@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background-color: #27374D;
}

::-webkit-scrollbar-thumb {
  width: 0;
  background-color: #526D82;
  cursor: pointer;
}

.input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 100%;
  width: calc(100% - 2rem);
  border-radius: 0.3rem;
  background-color: #27374D;
  border: 1px solid #526D82;
  color: white;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.input:focus {
  outline: none;
}
.input::-moz-placeholder {
  font-family: "Manrope";
  color: #9DB2BF;
}
.input:-ms-input-placeholder {
  font-family: "Manrope";
  color: #9DB2BF;
}
.input::placeholder {
  font-family: "Manrope";
  color: #9DB2BF;
}

.others-message-element {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  gap: "1rem";
}
.message-element {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.message-avatar {
  padding: 0.2rem;
  background-color: #27374D;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.chat-message {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: steelblue;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 15rem;
}

.others-chat-message {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: coral;
}

.chat-name {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.1rem;
  max-width: 100%;
  overflow-y: hidden;
}

.app-name {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.5rem;
  max-width: 100%;
  overflow-y: hidden;
}

.chat-name-dark {
  font-family: "Montserrat", sans-serif;
  color: #526D82;
  font-size: 1.1rem;
}

.chat-info {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.75rem;
}

.hide-message-area {
  position: absolute;
  top: 0;
  right: -90vw;
  -webkit-animation: show 250ms linear forwards;
          animation: show 250ms linear forwards;
}
@-webkit-keyframes show {
  100% {
    right: 0;
    margin-right: 2.5vh;
  }
}
@keyframes show {
  100% {
    right: 0;
    margin-right: 2.5vh;
  }
}

.show-message-area {
  position: absolute;
  top: 0;
  right: 1vh;
  -webkit-animation: hide 200ms linear forwards;
          animation: hide 200ms linear forwards;
}
@-webkit-keyframes hide {
  100% {
    right: -90vw;
    margin-left: -1rem;
  }
}
@keyframes hide {
  100% {
    right: -90vw;
    margin-left: -1rem;
  }
}/*# sourceMappingURL=index.css.map */